<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Greeting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    {% if user %}
        <h1>Welcome, {{ user }}!</h1>
    {% else %}
        <h1>Hello, Guest!</h1>
    {% endif %}
    <a href="/third" class="button">Next</a>
</body>
</html>